In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Casualties0514.csv', low_memory=True)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2216720 entries, 0 to 2216719
Data columns (total 15 columns):
﻿Accident_Index                       object
Vehicle_Reference                     int64
Casualty_Reference                    int64
Casualty_Class                        int64
Sex_of_Casualty                       int64
Age_of_Casualty                       int64
Age_Band_of_Casualty                  int64
Casualty_Severity                     int64
Pedestrian_Location                   int64
Pedestrian_Movement                   int64
Car_Passenger                         int64
Bus_or_Coach_Passenger                int64
Pedestrian_Road_Maintenance_Worker    int64
Casualty_Type                         int64
Casualty_Home_Area_Type               int64
dtypes: int64(14), object(1)
memory usage: 262.1+ MB

In [4]:
df.tail()

,﻿Accident_Index,Vehicle_Reference,Casualty_Reference,Casualty_Class,Sex_of_Casualty,Age_of_Casualty,Age_Band_of_Casualty,Casualty_Severity,Pedestrian_Location,Pedestrian_Movement,Car_Passenger,Bus_or_Coach_Passenger,Pedestrian_Road_Maintenance_Worker,Casualty_Type,Casualty_Home_Area_Type
2216715,2014984137714,1,1,2,2,16,4,3,0,0,2,0,0,9,1
2216716,2014984138414,1,1,1,1,27,6,3,0,0,0,0,0,9,1
2216717,2014984138414,2,2,1,1,44,7,2,0,0,0,0,0,19,1
2216718,2014984139614,1,2,2,1,61,9,3,0,0,0,4,0,11,2
2216719,2014984139614,2,1,1,1,79,11,3,0,0,0,0,0,9,3

In [6]:
df.Vehicle_Reference.unique()

array([ 1,  2,  3,  4,  5,  7,  6,  8,  9, 12, 14, 13, 15, 17, 18, 10, 19,
       11, 20, 21, 22, 23, 24, 25, 26, 27, 28, 16, 30, 29, 31, 32, 33, 34,
       36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52,
       53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 91], dtype=int64)

In [4]:
df.rename(columns={'﻿Accident_Index': 'Accident_Index'}, inplace=True)

In [17]:
df.columns

Index(['﻿Accident_Index', 'Vehicle_Reference', 'Casualty_Reference',
       'Casualty_Class', 'Sex_of_Casualty', 'Age_of_Casualty',
       'Age_Band_of_Casualty', 'Casualty_Severity', 'Pedestrian_Location',
       'Pedestrian_Movement', 'Car_Passenger', 'Bus_or_Coach_Passenger',
       'Pedestrian_Road_Maintenance_Worker', 'Casualty_Type',
       'Casualty_Home_Area_Type'],
      dtype='object')

In [5]:
df = df[['Accident_Index', 'Vehicle_Reference', 'Casualty_Reference',
       'Casualty_Class', 'Sex_of_Casualty', 'Age_of_Casualty',
       'Casualty_Severity', 'Casualty_Type',
       'Casualty_Home_Area_Type']]

In [8]:
df.drop(['Casualty_Reference'], axis=1, inplace=True)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2216720 entries, 0 to 2216719
Data columns (total 8 columns):
Accident_Index             object
Vehicle_Reference          int64
Casualty_Class             int64
Sex_of_Casualty            int64
Age_of_Casualty            int64
Casualty_Severity          int64
Casualty_Type              int64
Casualty_Home_Area_Type    int64
dtypes: int64(7), object(1)
memory usage: 143.8+ MB

In [14]:
HomeAreaType = pd.read_clipboard()

In [15]:
HomeAreaType

   code                         label
0     1                    Urban area
1     2                    Small town
2     3                         Rural
3    -1  Data missing or out of range

In [9]:
CasualtyType = pd.read_clipboard()

In [10]:
CasualtyType

    code                                              label
0      0                                         Pedestrian
1      1                                            Cyclist
2      2       Motorcycle 50cc and under rider or passenger
3      3      Motorcycle 125cc and under rider or passenger
4      4  Motorcycle over 125cc and up to 500cc rider or...
5      5           Motorcycle over 500cc rider or passenger
6      8                     Taxi/Private hire car occupant
7      9                                       Car occupant
8     10          Minibus (8 - 16 passenger seats) occupant
9     11      Bus or coach occupant (17 or more pass seats)
10    16                                        Horse rider
11    17                      Agricultural vehicle occupant
12    18                                      Tram occupant
13    19  Van / Goods vehicle (3.5 tonnes mgw or under) ...
14    20  Goods vehicle (over 3.5t. and under 7.5t.) occ...
15    21   Goods vehicle (7.5 tonnes mgw and over) occupant
16    22                             Mobility scooter rider
17    23             Electric motorcycle rider or passenger
18    90                             Other vehicle occupant
19    97         Motorcycle - unknown cc rider or passenger
20    98            Goods vehicle (unknown weight) occupant

In [11]:
CasualtySeverity = pd.read_clipboard()

In [12]:
CasualtySeverity

   code    label
0     1    Fatal
1     2  Serious
2     3   Slight

In [13]:
SexOfCasualty = pd.read_clipboard()

In [14]:
SexOfCasualty

   code                         label
0     1                          Male
1     2                        Female
2    -1  Data missing or out of range

In [15]:
CasualtyClass = pd.read_clipboard()

In [16]:
CasualtyClass

   code            label
0     1  Driver or rider
1     2        Passenger
2     3       Pedestrian