In [2]:
import pandas as pd
import numpy as np
# source: https://data.gov.uk/dataset/road-accidents-safety-data/resource/8ecee6ac-33fd-4f5b-8973-e900cc65d24a
dwLink = 'https://dl.dropboxusercontent.com/u/45463862/Casualties0514.csv.tar.gz'
descDwLink = 'https://dl.dropboxusercontent.com/u/45463862/Road-Accident-Safety-Data-Guide-1979-2004.xls'

In [3]:
df = pd.read_csv(dwLink, compression='gzip')
descDict = pd.read_excel(descDwLink, sheetname=None)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2216720 entries, 0 to 2216719
Data columns (total 15 columns):
Casualties0514.csv                    object
Vehicle_Reference                     int64
Casualty_Reference                    int64
Casualty_Class                        int64
Sex_of_Casualty                       int64
Age_of_Casualty                       int64
Age_Band_of_Casualty                  int64
Casualty_Severity                     int64
Pedestrian_Location                   int64
Pedestrian_Movement                   int64
Car_Passenger                         int64
Bus_or_Coach_Passenger                int64
Pedestrian_Road_Maintenance_Worker    int64
Casualty_Type                         int64
Casualty_Home_Area_Type               int64
dtypes: int64(14), object(1)
memory usage: 270.6+ MB

In [5]:
df.head()

,Casualties0514.csv,Vehicle_Reference,Casualty_Reference,Casualty_Class,Sex_of_Casualty,Age_of_Casualty,Age_Band_of_Casualty,Casualty_Severity,Pedestrian_Location,Pedestrian_Movement,Car_Passenger,Bus_or_Coach_Passenger,Pedestrian_Road_Maintenance_Worker,Casualty_Type,Casualty_Home_Area_Type
0,200501BS00001,1,1,3,1,37,7,2,1,1,0,0,-1,0,1
1,200501BS00002,1,1,2,1,37,7,3,0,0,0,4,-1,11,1
2,200501BS00003,2,1,1,1,62,9,3,0,0,0,0,-1,9,1
3,200501BS00004,1,1,3,1,30,6,3,5,2,0,0,-1,0,1
4,200501BS00005,1,1,1,1,49,8,3,0,0,0,0,-1,3,-1

In [6]:
#df.Vehicle_Reference.unique()

array([ 1,  2,  3,  4,  5,  7,  6,  8,  9, 12, 14, 13, 15, 17, 18, 10, 19,
       11, 20, 21, 22, 23, 24, 25, 26, 27, 28, 16, 30, 29, 31, 32, 33, 34,
       36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52,
       53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 91])

In [7]:
df.columns

Index(['Casualties0514.csv', 'Vehicle_Reference', 'Casualty_Reference',
       'Casualty_Class', 'Sex_of_Casualty', 'Age_of_Casualty',
       'Age_Band_of_Casualty', 'Casualty_Severity', 'Pedestrian_Location',
       'Pedestrian_Movement', 'Car_Passenger', 'Bus_or_Coach_Passenger',
       'Pedestrian_Road_Maintenance_Worker', 'Casualty_Type',
       'Casualty_Home_Area_Type'],
      dtype='object')

In [8]:
df = df[['Casualties0514.csv', 'Vehicle_Reference', 'Casualty_Reference',
       'Casualty_Class', 'Sex_of_Casualty', 'Age_of_Casualty', 'Age_Band_of_Casualty',
       'Casualty_Severity', 'Casualty_Type',
       'Casualty_Home_Area_Type']]

In [9]:
#df.drop(['Casualty_Reference'], axis=1, inplace=True)

In [11]:
for k in descDict.keys():
    print(k)

Ped Road Maintenance Worker
Police Force
Ped Movement
Carriageway Hazards
Casualty Class
Casualty Type
Road Type
Bus Passenger
Home Area Type
Local Authority (District)
1st Road Class
Urban Rural
Age Band
Vehicle Type
Car Passenger
Local Authority (Highway)
Casualty Severity
Junction Location
Vehicle Manoeuvre
Export Variables
Journey Purpose
Light Conditions
Weather
Was Vehicle Left Hand Drive
Police Officer Attend
Ped Cross - Physical
1st Point of Impact
Vehicle Location
Veh Leaving Carriageway
Special Conditions at Site
Ped Location
Towing and Articulation
Sex of Driver
Road Surface
Accident Severity
Vehicle Propulsion Code
Junction Control
IMD Decile
Skidding and Overturning
Ped Cross - Human
Introduction
Hit Object Off Carriageway
Junction Detail
Day of Week
2nd Road Class
Sex of Casualty
Hit Object in Carriageway

In [12]:
descDict['Casualty Class'].set_index('code')['label']

code
1    Driver or rider
2          Passenger
3         Pedestrian
Name: label, dtype: object

In [13]:
df.head()

,Casualties0514.csv,Vehicle_Reference,Casualty_Reference,Casualty_Class,Sex_of_Casualty,Age_of_Casualty,Age_Band_of_Casualty,Casualty_Severity,Casualty_Type,Casualty_Home_Area_Type
0,200501BS00001,1,1,3,1,37,7,2,0,1
1,200501BS00002,1,1,2,1,37,7,3,11,1
2,200501BS00003,2,1,1,1,62,9,3,9,1
3,200501BS00004,1,1,3,1,30,6,3,0,1
4,200501BS00005,1,1,1,1,49,8,3,3,-1

In [14]:
#df.Casualty_Class.map?

In [15]:
#df.Casualty_Reference.unique()

In [16]:
df['Casualty_Class'] = df.Casualty_Class.map(descDict['Casualty Class'].set_index('code')['label'])

In [17]:
df.Casualty_Class.head()

0         Pedestrian
1          Passenger
2    Driver or rider
3         Pedestrian
4    Driver or rider
Name: Casualty_Class, dtype: object

In [18]:
df.Casualty_Class.value_counts()

Driver or rider    1398378
Passenger           542477
Pedestrian          275865
Name: Casualty_Class, dtype: int64

In [19]:
df.Casualty_Class.unique()

array(['Pedestrian', 'Passenger', 'Driver or rider'], dtype=object)

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2216720 entries, 0 to 2216719
Data columns (total 10 columns):
Casualties0514.csv         object
Vehicle_Reference          int64
Casualty_Reference         int64
Casualty_Class             object
Sex_of_Casualty            int64
Age_of_Casualty            int64
Age_Band_of_Casualty       int64
Casualty_Severity          int64
Casualty_Type              int64
Casualty_Home_Area_Type    int64
dtypes: int64(8), object(2)
memory usage: 186.0+ MB

In [21]:
df[df['Casualties0514.csv'].duplicated()].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 576123 entries, 8 to 2216719
Data columns (total 10 columns):
Casualties0514.csv         576123 non-null object
Vehicle_Reference          576123 non-null int64
Casualty_Reference         576123 non-null int64
Casualty_Class             576123 non-null object
Sex_of_Casualty            576123 non-null int64
Age_of_Casualty            576123 non-null int64
Age_Band_of_Casualty       576123 non-null int64
Casualty_Severity          576123 non-null int64
Casualty_Type              576123 non-null int64
Casualty_Home_Area_Type    576123 non-null int64
dtypes: int64(8), object(2)
memory usage: 48.4+ MB

In [22]:
df['Year'] = df['Casualties0514.csv'].apply(lambda x: x[:4]).astype(int)

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2216720 entries, 0 to 2216719
Data columns (total 11 columns):
Casualties0514.csv         object
Vehicle_Reference          int64
Casualty_Reference         int64
Casualty_Class             object
Sex_of_Casualty            int64
Age_of_Casualty            int64
Age_Band_of_Casualty       int64
Casualty_Severity          int64
Casualty_Type              int64
Casualty_Home_Area_Type    int64
Year                       int64
dtypes: int64(9), object(2)
memory usage: 202.9+ MB

In [24]:
df.groupby(['Year', 'Casualty_Class']).size().unstack(0)

Year,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014
Casualty_Class,,,,,,,,,,
Driver or rider,168209,161523,155440,144941,139671,131200,129047,124418,118208,125721
Passenger,69527,65899,62149,57482,55588,51603,48705,46087,41429,44008
Pedestrian,33281,30982,30191,28482,26887,25845,26198,25218,24033,24748

In [25]:
df.head()

,Casualties0514.csv,Vehicle_Reference,Casualty_Reference,Casualty_Class,Sex_of_Casualty,Age_of_Casualty,Age_Band_of_Casualty,Casualty_Severity,Casualty_Type,Casualty_Home_Area_Type,Year
0,200501BS00001,1,1,Pedestrian,1,37,7,2,0,1,2005
1,200501BS00002,1,1,Passenger,1,37,7,3,11,1,2005
2,200501BS00003,2,1,Driver or rider,1,62,9,3,9,1,2005
3,200501BS00004,1,1,Pedestrian,1,30,6,3,0,1,2005
4,200501BS00005,1,1,Driver or rider,1,49,8,3,3,-1,2005

In [26]:
descDict['Sex of Casualty'].set_index('code')['label']

code
 1                            Male
 2                          Female
-1    Data missing or out of range
Name: label, dtype: object

In [27]:
df.replace(-1, np.nan, inplace=True)

In [28]:
df.Sex_of_Casualty.unique()

array([  1.,   2.,  nan])

In [29]:
df['Sex_of_Casualty'] = df.Sex_of_Casualty.map(descDict['Sex of Casualty'].set_index('code')['label'])

In [30]:
df.groupby(['Year', 'Sex_of_Casualty']).size().unstack(0)

Year,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014
Sex_of_Casualty,,,,,,,,,,
Female,113087,108111,103292,97250,93390,88117,84445,81277,75446,79413
Male,157797,150212,144363,133478,128711,120490,119498,114439,108213,115061

In [31]:
descDict['Casualty Severity'].set_index('code')['label']

code
1      Fatal
2    Serious
3     Slight
Name: label, dtype: object

In [32]:
df['Casualty_Severity'] = df.Casualty_Severity.map(descDict['Casualty Severity'].set_index('code')['label'])

In [33]:
df.head()

,Casualties0514.csv,Vehicle_Reference,Casualty_Reference,Casualty_Class,Sex_of_Casualty,Age_of_Casualty,Age_Band_of_Casualty,Casualty_Severity,Casualty_Type,Casualty_Home_Area_Type,Year
0,200501BS00001,1,1,Pedestrian,Male,37,7,Serious,0,1,2005
1,200501BS00002,1,1,Passenger,Male,37,7,Slight,11,1,2005
2,200501BS00003,2,1,Driver or rider,Male,62,9,Slight,9,1,2005
3,200501BS00004,1,1,Pedestrian,Male,30,6,Slight,0,1,2005
4,200501BS00005,1,1,Driver or rider,Male,49,8,Slight,3,NaN,2005

In [34]:
df.groupby(['Year', 'Sex_of_Casualty', 'Casualty_Severity']).size().unstack(0)

Year                                 2005    2006    2007    2008    2009  \
Sex_of_Casualty Casualty_Severity
Female          Fatal                 785     771     729     655     569
                Serious              8923    8785    8479    8116    7591
                Slight             103379   98555   94084   88479   85230
Male            Fatal                2416    2401    2217    1882    1653
                Serious             20026   19886   19289   17907   17098
                Slight             135355  127925  122857  113689  109960

Year                                 2010    2011   2012   2013   2014
Sex_of_Casualty Casualty_Severity
Female          Fatal                 484     478    416    442    465
                Serious              7223    7066   7109   6644   6992
                Slight              80410   76901  73752  68360  71956
Male            Fatal                1366    1423   1338   1271   1310
                Serious             15434   16055  15929  15011  15815
                Slight             103690  102020  97172  91931  97936

In [35]:
descDict['Age Band'].set_index('code')['label']

code
1       0 - 5
2      6 - 10
3     11 - 15
4     16 - 20
5     21 - 25
6     26 - 35
7     36 - 45
8     46 - 55
9     56 - 65
10    66 - 75
11    Over 75
Name: label, dtype: object

In [36]:
df['Age_Band_of_Casualty'] = df.Age_Band_of_Casualty.map(descDict['Age Band'].set_index('code')['label'])

In [38]:
df[df.Casualty_Severity == 'Fatal'].groupby(['Year', 'Age_Band_of_Casualty']).size().unstack(0)

Year,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014
Age_Band_of_Casualty,,,,,,,,,,
0 - 5,28,34,28,29,16,15,12,19,12,10
11 - 15,81,97,73,61,49,23,33,28,26,29
16 - 20,525,505,453,384,325,275,206,212,186,167
21 - 25,391,424,375,319,262,186,221,204,231,225
26 - 35,541,499,464,403,350,270,295,257,249,273
36 - 45,459,452,427,374,344,275,270,233,211,223
46 - 55,329,310,345,275,277,243,269,221,255,224
56 - 65,237,253,217,187,182,188,167,165,153,171
6 - 10,32,38,20,34,16,17,15,14,10,14
66 - 75,206,192,201,174,147,125,158,146,145,172
Over 75,363,359,335,297,254,233,255,255,235,267

In [39]:
df[df.Casualty_Severity == 'Fatal'].groupby(['Year', 'Age_Band_of_Casualty', 'Sex_of_Casualty']).size().unstack(0)
#df[df.Casualty_Severity == 'Fatal'].tail()

Year                                  2005  2006  2007  2008  2009  2010  \
Age_Band_of_Casualty Sex_of_Casualty
0 - 5                Female             14    14    11    11     8     5
                     Male               14    20    17    18     8    10
11 - 15              Female             29    33    26    24    17     7
                     Male               52    64    47    37    32    16
16 - 20              Female            121   106   105    89    64    71
                     Male              404   399   348   295   261   204
21 - 25              Female             67    69    63    64    45    39
                     Male              324   355   312   255   217   147
26 - 35              Female             78    77    70    75    62    46
                     Male              463   422   394   328   288   224
36 - 45              Female             79    76    76    62    71    54
                     Male              380   376   351   311   273   221
46 - 55              Female             74    69    75    60    63    49
                     Male              255   241   270   215   214   194
56 - 65              Female             73    70    61    58    52    56
                     Male              164   183   156   129   130   132
6 - 10               Female             13    15     8     9     5     5
                     Male               19    23    12    25    11    12
66 - 75              Female             66    72    79    62    60    53
                     Male              140   120   122   112    87    72
Over 75              Female            168   167   151   141   122    99
                     Male              195   192   184   156   132   134

Year                                  2011  2012  2013  2014
Age_Band_of_Casualty Sex_of_Casualty
0 - 5                Female              3    11     5     6
                     Male                9     8     7     4
11 - 15              Female             14     3    10    14
                     Male               19    25    16    15
16 - 20              Female             47    40    58    42
                     Male              159   172   128   125
21 - 25              Female             50    38    36    38
                     Male              171   166   195   187
26 - 35              Female             52    49    57    51
                     Male              243   208   192   222
36 - 45              Female             42    51    38    43
                     Male              228   182   173   180
46 - 55              Female             57    32    47    44
                     Male              212   189   208   180
56 - 65              Female             37    44    32    40
                     Male              130   121   121   131
6 - 10               Female              3     6     1     5
                     Male               12     8     9     9
66 - 75              Female             52    44    57    64
                     Male              106   102    88   108
Over 75              Female            121    98   101   118
                     Male              134   157   134   149