## Take Random 2% Of The Messages For Every User In The Dataset

In [1]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('userMsgIds.csv.gz', compression='gzip')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 62586 entries, 0 to 62585
Data columns (total 2 columns):
USERID    62586 non-null object
MSGID     62586 non-null object
dtypes: object(2)
memory usage: 977.9+ KB

In [8]:
df.tail()

       USERID                     MSGID
62581  user35  5670EAEF01E307D2011E053F
62582  user36  562A90A401A10122011D043F
62583  user37  56324AF30000066801480009
62584  user38  564B56160000322A072F006E
62585  user39  5668B7CD01E50254011E067E

In [3]:
# If the count of the messages is less than 3 return the actual count. 
# If the 2% of the count is less than 3 return size 3 otherwise return the 2% of the count
def sampleSize(cnt):
    if cnt < 3: return cnt
    size = cnt*0.02
    if size < 3: return 3
    else: return round(size)

In [4]:
# Return random index based on the result of the sampleSize function
sampleFn = lambda obj: obj.loc[np.random.choice(obj.index, sampleSize(len(obj)), replace=False),:]

In [9]:
dfSample = df.groupby('USERID', as_index=False).apply(sampleFn)

In [10]:
dfSample.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 1307 entries, (0, 10743) to (38, 59413)
Data columns (total 2 columns):
USERID    1307 non-null object
MSGID     1307 non-null object
dtypes: object(2)
memory usage: 15.3+ KB

In [13]:
dfSample.head()

        USERID                     MSGID
0 10743  user1  564212F1014800FC00F5431F
  3932   user1  56098A9901AE04C001190367
  10295  user1  563CCB9001DB027400870407
  4631   user1  560D5EDA022D05CA008703B9
  7820   user1  56268E64023205FA011D973C

In [17]:
df.groupby('USERID').count().sort_values('MSGID', ascending=False).head(10)

        MSGID
USERID
user1   16574
user7   15855
user5   12631
user6    7382
user2    3336
user8    2733
user9    1987
user11    369
user10    363
user27    297

In [19]:
dfSample.groupby('USERID').count().sort_values('MSGID', ascending=False).head(10)

        MSGID
USERID
user1     331
user7     317
user5     253
user6     148
user2      67
user8      55
user9      40
user10      7
user11      7
user27      6