In [82]:
## Useful SQL related Pandas Snippets

In [35]:
import pandas as pd
import numpy as np
import random
import sqlite3
import sqlalchemy

### Generate random dataframe and insert it in sqlite

In [66]:
#engine = sqlalchemy.create_engine('sqlite:///data\demo.db', echo=False)

#np.random.seed(0)
#df1 = pd.DataFrame(np.random.randint(0,5000, size=(50000, 2)), columns=list('AB'))

#df1['ACCTID'] = ['ACCT{}'.format(x) for x in np.arange(0,50000)]

#typeArr = np.repeat(np.array(['type1', 'type2', 'type3', 'type4', 'type5']), 10000)
#df1['TYPE'] = random.sample(list(typeArr), len(typeArr))


#df1 = df1[['ACCTID', 'TYPE', 'A', 'B']]

#df1.head()

#df1.to_sql('ACCTS', engine)

## Connect to sqllite db and load ACCTS table for sampling

In [76]:
conn = sqlite3.connect('data/demo.db')

In [77]:
df = pd.read_table?

In [78]:
df = pd.read_sql_table?

In [80]:
df = pd.read_sql('''select * from ACCTS''', conn)

In [81]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50000 entries, 0 to 49999
Data columns (total 5 columns):
index     50000 non-null int64
ACCTID    50000 non-null object
TYPE      50000 non-null object
A         50000 non-null int64
B         50000 non-null int64
dtypes: int64(3), object(2)
memory usage: 1.9+ MB

## Create a sample of 500 acct ids to query against the table ACCTS in the db

In [95]:
sampleAccts = df.ACCTID.sample(500)

In [96]:
acctsStr = ','. join(["'{}'".format(x) for x in sampleAcct])

In [97]:
sql = '''select * from ACCTS where ACCTID in ({})'''.format(acctsStr)

In [100]:
dfResult = pd.read_sql(sql, conn)

In [101]:
dfResult.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 500 entries, 0 to 499
Data columns (total 5 columns):
index     500 non-null int64
ACCTID    500 non-null object
TYPE      500 non-null object
A         500 non-null int64
B         500 non-null int64
dtypes: int64(3), object(2)
memory usage: 19.5+ KB

In [102]:
dfResult.head()

   index   ACCTID   TYPE     A     B
0    340  ACCT340  type4  3799  3715
1    463  ACCT463  type2  3163  2045
2    745  ACCT745  type1   664  1291
3    759  ACCT759  type4  3399  4192
4    910  ACCT910  type4  3077    55

## Create a sample of 5000 acct ids to query agains the table ACCTS in the db

In [127]:
sampleAccts = df.sample(5000)

In [128]:
sql = '''select * from ACCTS where ACCTID in ({})'''

### Split array to chunks of size ~800

In [141]:
chunks = np.array_split(sampleAccts, len(sampleAccts)//800)

In [142]:
dfs = list()
for chunk in chunks:
    acctsStr = ','. join(["'{}'".format(x) for x in chunk.ACCTID])
    dfTmp = pd.read_sql(sql.format(acctsStr), conn)
    dfs.append(dfTmp)
dfAll = pd.concat(dfs)

In [144]:
dfAll.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5000 entries, 0 to 832
Data columns (total 5 columns):
index     5000 non-null int64
ACCTID    5000 non-null object
TYPE      5000 non-null object
A         5000 non-null int64
B         5000 non-null int64
dtypes: int64(3), object(2)
memory usage: 195.3+ KB

## Call custom defined Oracle function and apply it to a Pandas series

In [ ]:
import cx_Oracle

In [ ]:
engine = sqlalchemy.create_engine('oracle://username:password@DBALIAS')

In [ ]:
func_ = lambda x: engine.execute(sqlalchemy.func.package_name.functionName(params)).fetchone()[0]
dfAll.ACCTID.apply(func_)

## Generate ids from Oracle Sequence

In [ ]:
sqlSeq = '''select SEQUENCE_NAME.nextval id from dual'''
dfAll['id'] = dfAll.ACCTID.apply(lambda x: pd.read_sql(sqlSeq, engine).ID[0])